.work {
    height: auto;
    background: rgb(2, 2, 29);
   padding: 50px 20px;

 
    h2 {
        color: white;
        padding: 40px 0;
        text-align: center;
        font-size: 60px;

    }
}